<!DOCTYPE html>

<html>

    <!-- A marquee widget for updates. I don't know how exactly how this is going to connect w/ team stats -->
    <!-- Also, this is not a stand-alone file. It needs to be on every actual page on the HIGHEST LAYER -->
    <body >
       <div class="stat_widget">
         <marquee behavior="scroll"direction="LEFT" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate enim eu urna vestibulum convallis. Donec ultricies quam id massa aliquam aliquam.In nec orci vel ex gravida mollis.Praesent feugiat lectus ac congue pretium.</marquee>
       </div>
    </body>

</html>